@import "~office-ui-fabric-react/dist/sass/References.scss";

.filterPanel {
    display: block;
    .searchBox {
        margin: 10px;
    }

    .filterValue {
        margin: 2px;
    }

    .buttonsRow {
        margin: 10px;
        button {
            margin: 2px;
        }
    }
}
